# .NET build output
**/bin/
**/obj/

# User-specific VS/Rider files
**/*.user
**/*.suo
.vs/

# SQLite databases (auto-created on first run, no need to commit)
**/*.db
**/*.db-shm
**/*.db-wal

# Local environment overrides
**/appsettings.Development.json

# OS
.DS_Store
Thumbs.db
